<div class="control-group">
  <%= p.label :name %>
  <div><%= p.text_field :name %></div>
</div>

<div class="control-group">
  <%= p.label :price %>
  <div class="controls">
    <%= p.text_field :price %>
  </div>
</div>